.wrapper-about {

    background-color: rgb(22, 20, 45);


    .wrap-about {
        padding: 100px 0;
        height: 100%;
        margin: auto;
        border-radius: 0px 0px 0px 0px;
        -webkit-border-radius: 0px 20% 20% 0px/ 0px 250px 250px 0px;
        background: #FFFFFF;
        background: -moz-linear-gradient(top, #FFFFFF 0%, #afadf3 45%, #FFFFFF 100%);
        background: -webkit-linear-gradient(top, #FFFFFF 0%, #afadf3 45%, #FFFFFF 100%);
        background: linear-gradient(to bottom, #FFFFFF 0%, #afadf3 45%, #FFFFFF 100%);


        .about-h1 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 50px;
        }

        .about-p {
            font-size: 24px;
            width: 70%;
            margin: auto;
        }

        .about-skills {
            margin-top: 50px;


        }


    }
}